<!-- <p>login works!</p>

<button class="btn btn-primary" appLogin>Login</button>
<button class="btn btn-primary" appLoginGoogle>Google Login</button>
<button class="btn btn-primary" appLogOut>Logout</button>

<h1>user observeble</h1>
<pre>
  {{ authService.user$ | async | json }}
</pre>

<h1>User</h1>
<pre>
  {{ authService.user }}
</pre>

<h1>isLogged</h1>
<pre>
islogged  {{ authService.isLogged }}
</pre> -->
<div class="row mt-5">
  <div class="col-sm-8 col-lg-6 col-xl-4 mx-auto">
    <form
      #loginForm="ngForm"
      (ngSubmit)="onLogin(loginForm)"
      novalidate
      autocomplete="off"
    >
      <div class="mb-4">
        <h1 class="h3 mb-4">
          Royal<b>CRM</b>
          <i class="fas fa-angle-double-up ml-2" style="color: crimson"></i>
        </h1>
        <p>Login with your account</p>
      </div>
      <div *ngIf="errorMsg" class="form-group">
        <div class="alert alert-danger" role="alert">{{ errorMsg }}</div>
      </div>
      <div class="form-group mb-4">
        <div
          class="form-group form-control"
          [ngClass]="{ 'is-invalid': emailF.errors && emailF.touched }"
        >
          <span class="col-1 p-0"><i class="fas fa-envelope"></i></span>
          <input
            type="email"
            #emailF="ngModel"
            [(ngModel)]="form.email"
            name="email"
            id="email"
            class="col-11 border-0"
            placeholder="john@doe.com"
            autocomplete="username"
            email
            required
          />
          <div
            [hidden]="!(emailF.errors?.required || emailF.errors?.email)"
            class="invalid-feedback"
          >
            Valid email is required
          </div>
        </div>
      </div>

      <div class="form-group mb-4">
        <div
          class="form-group form-control"
          [ngClass]="{ 'is-invalid': passwordF.errors && passwordF.touched }"
        >
          <span class="col-1 p-0"><i class="fas fa-unlock-alt"></i></span>
          <input
            type="password"
            #passwordF="ngModel"
            [(ngModel)]="form.password"
            name="password"
            id="password"
            class="col-11 border-0"
            placeholder="******"
            autocomplete="current-password"
            required
          />

          <div [hidden]="!passwordF.errors?.required" class="invalid-feedback">
            Password is required
          </div>
        </div>
      </div>
      <button
        [disabled]="!loginForm.form.valid"
        class="btn btn-lg btn-info btn-block"
        type="submit"
      >
        Sign in
      </button>
    </form>

    <hr />

    <!-- <button appLoginGoogle class="btn btn-lg btn-info btn-block">
      Log in with Google
    </button> -->

    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
  </div>
</div>
